@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;

}

section {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
    background: url('bg.png') no-repeat;
    background-size: cover;
    background-position: center;
}

.login-box {
    position: relative;
    width: 400px;
    min-height: 450px;
    background: transparent;
    backdrop-filter: blur(15px);
    border: 2px solid rgb(255, 255, 255);
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow: 0 5px 10px rgba(0,0,0,0.3);
}

h1 {
    font-size: 2em;
    color:rgb(255, 255, 255);
    text-align: center;
}

.input-box {
    width: 310px;
    margin: 30px 0;
    border-bottom: 2px solid rgb(0, 96, 175);
}

.input-box input {
    width: 100%;
    height: 50px;
    background: transparent;
    border: none;
    outline: none;
    font-size: 1em;
    color: #fff5f5;
    padding: 0 35px 0 5px;
}

.input-box label {
    position: absolute;
    right: 40px;
    font-size: 1.2em;
    line-height: 57px;
}

button {
    width: 310px;
    height: 50px;
    background: rgb(255, 255, 255);
    border: none;
    outline: none;
    border-radius: 25px;
    cursor: pointer;
    font-size: 1em;
    color: #003d83;
}

.register-link {
    margin: 20px 0;
    font-size: 0.9em;
    color: rgb(0, 96, 175);
}

.register-link a {
    color: rgb(0, 96, 175);
    text-decoration: none;
    font-weight: 600;
}

.register-link a:hover {
    text-decoration: underline;
}